# Run description file example for make-hdf5 command


paths:
  # Paths must be absolute.
  # They may contain:
  #
  # * $SCRATCH as an alternative spelling of the user's scratch directory on graham
  # * $PROJECT as an alternative spelling of the group's project directory on graham
  # * $USER as an alternative spelling of the user's userid
  # * ~ or $HOME as alternative spellings of the user's home directory
  #
  # Paths with environment variables are strongly recommended for portability and re-usability.

  # Absolute path to SalishSeaCast NEMO results collection
  salishseacast: $PROJECT/MIDOSS/forcing/nowcast-green.201905/
  # Absolute path to collection of HRDPS forcing files for SalishSeaCast NEMO runs
  hrdps: $PROJECT/SalishSea/forcing/atmospheric/GEM2.5/operational/
  # Absolute path to Strait of Georgia WWatch3 results collection
  wavewatch3: $PROJECT/MIDOSS/forcing/wwatch3/

  # URL or absolute path to SalishSeaCast NEMO mesh mask to read grid parameters from
  # Use of an ERDDAP URL is preferred.
  # If the host that make-hdf5 is being run on does not have access to the Internet
  # (e.g. compute nodes on graham) an absolute path to a mesh mask file
  # (typically in a clone of the SalishSeaCast-grid repo) may be used.
  # Environment variable expansion is enabled for the absolute path option;
  # e.g. salishseacast grid: $PROJECT/$USER/MIDOSS/SalishSeaCast-grid/mesh_mask201702.nc
  salishseacast grid: https://salishsea.eos.ubc.ca/erddap/griddap/ubcSSn3DMeshMaskV17-02

  # Absolute path to file containing interpolation weights to transform HRDPS
  # variables values on to MIDOSS-MOHID grid
  wind_weights: $PROJECT/$USER/MIDOSS/MIDOSS-MOHID-grid/hrdps_interpolation_weights.nc
  # Absolute path to file containing interpolation weights to transform WWatch3
  # variables values on to MIDOSS-MOHID grid
  wave_weights: $PROJECT/$USER/MIDOSS/MIDOSS-MOHID-grid/wavewatch3_interpolation_weights.nc

  # Absolute path to directory into which to write HDF5 forcing files
  # that will be generated
  output: $SCRATCH/MIDOSS/forcing/


salish_seacast_forcing:
  # File names for HDF5 forcing files generated from SalishSeaCast NEMO results
  currents:
    # u-direction component of seawater current
    currents_u_hdf5_filename: currents.hdf5
    # v-direction component of seawater current
    currents_v_hdf5_filename: currents.hdf5

  vertical_velocity:
    # w-direction seawater current component
    hdf5_filename: currents.hdf5

  salinity:
    # seawater salinity
    hdf5_filename: t.hdf5

  temperature:
    # seawater temperature
    hdf5_filename: t.hdf5

  sea_surface_height:
    # sea surface height
    hdf5_filename: t.hdf5

  e3t:
    # time-varying z-layer thickness from NEMO VVL
    hdf5_filename: e3t.hdf5

  diffusivity:
    # vertical eddy diffusivity
    hdf5_filename: t.hdf5


hrdps_forcing:
  # File names for HDF5 forcing files generated from HRDPS files
  winds:
    # u-direction component of wind velocity
    wind_u_hdf5_filename: winds.hdf5
    # v-direction component of wind velocity
    wind_v_hdf5_filename: winds.hdf5


wavewatch3_forcing:
  # File names for HDF5 forcing files generated from WWatch3 results
  whitecap_coverage:
    # sea surface witecap coverage fraction
    hdf5_filename: waves.hdf5

  mean_wave_period:
    # mean period of wind waves from variance of spectral density of
    # second frequency moment
    hdf5_filename: waves.hdf5

  mean_wave_length:
    # mean wave length of wind waves
    hdf5_filename: waves.hdf5

  significant_wave_height:
    # significant height of wind waves
    hdf5_filename: waves.hdf5

  stokesU:
    # u-direction component of sea surface Stokes drift
    hdf5_filename: waves.hdf5

  stokesV:
    # v-direction component of sea surface Stokes drift
    hdf5_filename: waves.hdf5
